{% extends 'base/_base.html' %}
{% load static %}
{% load markdown_extras %}
{% block title %}{{ blog.title }}{% endblock %}
{% block metas %}
      <meta name="title" content="{{ blog.title }}">
      <meta name="description" content="{{ blog.abstract }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{% url 'blog' blog.slug %}">
      <meta property="og:title" content="{{ blog.title }}">
      <meta property="og:description" content="{{ blog.abstract }}">
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="{% url 'blog' blog.slug %}">
      <meta property="twitter:title" content="{{ blog.title }}">
      <meta property="twitter:description" content="{{ blog.abstract }}">
{% endblock %}
{% block addon_style %}
      <link rel="stylesheet" href="{% static 'css/themes/dark.min.css' %}">
{% endblock addon_style %}
{% block addon_script %}
      <script src="{% static 'js/highlight.min.js' %}"></script>
      <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block content %}
      <section class="py-10">
            <div class="container md:px-0 prose prose-emerald dark:prose-invert prose-pre:text-sm prose-code:rounded prose-code:whitespace-pre-wrap prose-hr:border-dashed prose-hr:border-t-2">
                  <h1 class="mb-2">{{ blog.title }}</h1>
                  <p class="text-sm">
                        Published on {{ blog.published_at | date:'M d, Y' }}
                        {% if blog.tags.all %}
                              •
                              {% for tag in blog.tags.all %}<span class="text-xs text-neutral-500 mr-1">#{{ tag.name }}</span>{% endfor %}
                        {% endif %}
                  </p>
                  <h3>Abstract</h3>
                  <h5 class="text-justify">{{ blog.abstract }}</h5>
                  <hr/>
                  <div class="text-justify">{{ blog.body | markdown | safe }}</div>
            </div>
      </section>
{% endblock %}
