{% extends 'base/_base.html' %}
{% load static %}
{% block title %}PasteMe - Blogs{% endblock %}
{% block blog_active %}active{% endblock %}
{% block metas %}
      <meta name="description"
            content="Follow the feed and keep up with the tech.">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{% url 'blogs' %}">
      <meta property="og:title" content="PasteMe - Blogs">
      <meta property="og:description"
            content="Follow the feed and keep up with the tech.">
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="{% url 'blogs' %}">
      <meta property="twitter:title" content="PasteMe - Blogs">
      <meta property="twitter:description"
            content="Follow the feed and keep up with the tech.">
{% endblock %}
{% block content %}
      <section class="py-10 text-black dark:text-white">
            <div class="container"
                 data-aos="fade-up"
                 data-aos-duration="400"
                 data-aos-delay="200"
                 data-aos-once="true">
                  <div class="flex flex-col md:flex-row items-center justify-center md:gap-12">
                        <div class="md:max-w-xl">
                              <h2 class="text-3xl md:text-4xl lg:text-6xl font-bold text-center md:text-left mb-4 lg:mb-8">
                                    Welcome to the PasteMe Library!
                              </h2>
                              <p class="mx-4 md:mx-0 text-justify lg:text-xl">
                                    In library, our professional writers write awesome articles about tricks, best practices, implementations, and new technologes. Follow the feed and enjoy the blogs.
                              </p>
                        </div>
                        <div class="order-first md:order-last" align="center">
                              <img class="max-w-xs w-56 lg:w-72"
                                   src="{% static 'img/reader_octocat.svg' %}"
                                   alt="Octocat image"/>
                        </div>
                  </div>
            </div>
      </section>
      <section class="py-12 text-black dark:text-white bg-white dark:bg-black">
            <div class="container flex flex-wrap gap-5"
                 data-aos="fade-up"
                 data-aos-duration="400"
                 data-aos-delay="200"
                 data-aos-once="true">
                  {% if blogs.exists %}
                        {% for blog in blogs %}
                              <div class="p-4 shrink grow basis-1/2 md:basis-1/3 lg:basis-1/4 bg-neutral-100 dark:bg-neutral-900 shadow-md rounded hover:transform hover:scale-105 hover:drop-shadow-xl transition-all duration-300 hover:bg-black hover:text-white">
                                    <a href="{% url 'blog' blog.slug %}">
                                          <h3 class="text-2xl font-extrabold">
                                                <b>{{ blog.title }}</b>
                                          </h3>
                                          <p class="mt-1 mb-3 text-sm text-neutral-500 select-none">Published on {{ blog.published_at | date:'M d, Y' }}</p>
                                          <h5 class="text-neutral-600 dark:text-neutral-400 select-none">{{ blog.abstract|truncatechars:85 }}</h5>
                                          <p class="mt-1">
                                                {% for tag in blog.tags.all %}
                                                      <span class="badge me-1 bg-black">{{ tag.name }}</span>
                                                {% endfor % %}
                                          </p>
                                    </a>
                              </div>
                        {% endfor %}
                  {% else %}
                        <h2 class="text-xl md:text-2xl lg:text-3xl font-bold text-center md:text-left mb-3">No feeds to follow up!</h2>
                        <p class="text-center md:text-left font-semibold">No blog post found in the archive.</p>
                  {% endif %}
            </div>
      </section>
{% endblock %}
