{% extends 'base/_base.html' %}
{% load static %}
<!-- Titles -->
{% block title %}
      PasteMe - Blogs
{% endblock title %}
{% block meta_title %}
      PasteMe - Blogs
{% endblock meta_title %}
{% block meta_og_title %}
      PasteMe - Blogs
{% endblock meta_og_title %}
{% block meta_tw_title %}
      PasteMe - Blogs
{% endblock meta_tw_title %}
<!-- URLs -->
{% block meta_og_url %}
      {% url 'blogs' %}
{% endblock meta_og_url %}
{% block meta_tw_url %}
      {% url 'blogs' %}
{% endblock meta_tw_url %}
<!-- Description -->
{% block meta_desc %}
      Follow the feed and keep up with the tech.
{% endblock meta_desc %}
{% block meta_og_desc %}
      Follow the feed and keep up with the tech.
{% endblock meta_og_desc %}
{% block meta_tw_desc %}
      Follow the feed and keep up with the tech.
{% endblock meta_tw_desc %}
{% block content %}
      <section class="py-6 md:py-10 text-black dark:text-white">
            <div class="container"
                 data-aos="fade-up"
                 data-aos-duration="400"
                 data-aos-delay="100"
                 data-aos-once="true">
                  <div class="flex flex-col md:flex-row items-center justify-center gap-6 md:gap-12">
                        <div class="md:max-w-xl">
                              <h2 class="text-3xl md:text-4xl lg:text-6xl font-bold text-center md:text-left mb-4 lg:mb-8">
                                    Welcome to the PasteMe Library!
                              </h2>
                              <p class="mx-4 md:mx-0 text-justify lg:text-xl">
                                    In library, our professional writers write awesome articles about tricks, best practices, implementations, and new technologes. Follow the feed and enjoy the blogs.
                              </p>
                              <div class="mt-8 md:mt-12 flex flex-col-reverse md:flex-row gap-4 md:gap-1 items-center justify-center md:justify-start select-none">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-6 w-6 md:h-4 md:w-4 animate-bounce"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke="currentColor"
                                         stroke-width="2">
                                          <path stroke-linecap="round" stroke-linejoin="round" d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
                                    </svg>
                                    <p class="text-sm font-semibold">Scroll down for latest articles</p>
                              </div>
                        </div>
                        <div class="order-first md:order-last" align="center">
                              <img class="max-w-xs w-56 lg:w-72"
                                   src="{% static 'img/reader_octocat.svg' %}"
                                   alt="Octocat image"/>
                        </div>
                  </div>
            </div>
      </section>
      <section class="py-12 text-black dark:text-white bg-white dark:bg-black transition-colors duration-300">
            <div class="container flex flex-wrap gap-5"
                 data-aos="fade-up"
                 data-aos-duration="400"
                 data-aos-delay="100"
                 data-aos-once="true">
                  {% if blogs.exists %}
                        {% for blog in blogs %}
                              <a href="{% url 'blog' blog.slug %}"
                                 class="shrink grow basis-1/2 md:basis-1/3 lg:basis-1/4">
                                    <div class="{% if blog.is_featured %}glow{% endif %} h-full p-4 bg-neutral-100 dark:bg-neutral-900 shadow-md rounded transition-colors duration-300 hover:bg-neutral-200 dark:hover:bg-neutral-800 group">
                                          <div class="flex flex-col-reverse md:flex-row items-baseline md:items-center justify-between gap-1 md:gap-2">
                                                <h3 class="text-2xl font-extrabold">{{ blog.title }}</h3>
                                                {% if blog.is_featured %}
                                                      <span class="py-1 px-2 text-xs font-semibold bg-neutral-300 dark:bg-neutral-800 group-hover:bg-neutral-300 dark:group-hover:bg-neutral-700 text-neutral-500 rounded transition-colors duration-300">Featured</span>
                                                {% endif %}
                                          </div>
                                          <p class="mt-1 mb-4 text-sm text-neutral-500 select-none">Published on {{ blog.published_at | date:'M d, Y' }}</p>
                                          <h5 class="text-neutral-600 dark:text-neutral-400 select-none">{{ blog.abstract|truncatechars:85 }}</h5>
                                          <p class="mt-2 text-xs text-neutral-500 flex flex-row flex-wrap gap-2">
                                                {% for tag in blog.tags.all %}<span>#{{ tag.name }}</span>{% endfor %}
                                          </p>
                                    </div>
                              </a>
                        {% endfor %}
                  {% else %}
                        <div class="w-full flex flex-col items-center justify-center transition-colors duration-300">
                              <h2 class="text-xl md:text-3xl lg:text-4xl font-bold text-center md:text-left mb-3">No feeds to follow up!</h2>
                              <p class="text-center md:text-left text-neutral-500 font-semibold">No blog post found in the archive.</p>
                        </div>
                  {% endif %}
            </div>
      </section>
{% endblock %}
