{% extends '_base.html' %}
{% load static %}
{% load markdown_extras %}

{% block title %}{{blog.title}}{% endblock %}

{% block metas %}
<!-- Primary Meta Tags -->
<meta name="title" content="{{blog.title}}">
<meta name="description"
      content="{{blog.abstract}}">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{% url 'blog' blog.slug %}">
<meta property="og:title"
      content="{{blog.title}}">
<meta property="og:description"
      content="{{blog.abstract}}">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{% url 'blog' blog.slug %}">
<meta property="twitter:title"
      content="{{blog.title}}">
<meta property="twitter:description"
      content="{{blog.abstract}}">
{% endblock %}

{% block addon_link %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block blog_active %}active{% endblock %}

{% block content %}
<section class="p-5">
      <div class="container d-flex justify-content-center">
      <div class="col-md-9">
        <h1 class="title">{{blog.title}}</h1>
        <p class="text-muted">Published on {{blog.published_at | date:'M d, Y'}} &#183;
            {% for tag in blog.tags.all %}
                  <span class="badge me-1 bg-black">{{tag.name}}</span>
            {% endfor %%}
        </p>
        <h5 class="text-muted mt-4 mb-4 abstract">{{blog.abstract}}</h5>
        <div class="body">{{blog.body | markdown | safe}}</div>
      </div>
      </div>
</section>
{% endblock %}