@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-open {
        @apply py-6;
        div {
            @apply flex;
        }
    }
}

.sticky {
    @apply fixed w-full top-0 z-50 border-b dark:border-[#1a1a1a];
}

.darkmode-switch {
    position: relative;
    background: transparent;
    border: 0;
    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.darkmode-switch .mode {
    position: relative;
    width: 20px;
    height: 20px;

    transition: transform 0.45s ease;
    border-radius: 50%;
    background: black;
}

.darkmode-switch .mode::before {
    content: "";
    position: absolute;

    width: 6px;
    height: 6px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;

    background: inherit;

    z-index: -1;
    opacity: 0;

    transition: box-shadow 0.4s 0s ease;
}

.darkmode-switch .mode::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;

    top: -20%;
    left: 30%;

    border-radius: 50%;
    background: white;

    transition: transform background 0.4s 0s ease;
}

html.dark {
    .darkmode-switch .mode {
        transform: scale(0.5);
        background: white;

        &::before {
            opacity: 1;

            box-shadow: 0 -20px 0 0 white, 0 20px 0 0 white, -20px 0 0 0 white,
                20px 0 0 0 white, 15px 15px 0 0 white, 15px -15px 0 0 white,
                -15px 15px 0 0 white, -15px -15px 0 0 white;
        }

        &::after {
            opacity: 0;
            transition: transform background 0.4s 0s ease;
            transform: translateX(50%) translateY(-50%);
        }
    }
}

#loading-msg.loaded {
    animation: slide-out 0.5s ease-in-out forwards;
}

#loading-msg {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    overflow: visible;
    user-select: none;
    cursor: default;
    div {
        position: absolute;
        width: 20px;
        height: 36px;
        opacity: 0;
        animation: move 2s linear infinite;
        transform: rotate(180deg);
        color: #ff005d;

        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            animation-delay: 0.6s;
        }
        &:nth-child(5) {
            animation-delay: 0.8s;
        }
        &:nth-child(6) {
            animation-delay: 1s;
        }
        &:nth-child(7) {
            animation-delay: 1.2s;
        }
    }
}

@keyframes move {
    0% {
        left: 0;
        opacity: 0;
    }
    35% {
        left: 41%;
        transform: rotate(0deg);
        opacity: 1;
    }
    65% {
        left: 59%;
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        left: 100%;
        transform: rotate(-180deg);
        opacity: 0;
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
