<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        {% include "base/_meta_tags.html" %}
        <title>
            {% block title %}
                PasteMe Service
            {% endblock title %}
        </title>
    </head>
    <body class="h-full bg-gray-50 dark:bg-gray-900 grid grid-rows-[auto_1fr_auto] leading-normal tracking-normal bg-body-pattern">
        {% include "base/_navbar.html" %}
        <main class="container mx-auto my-4">
            {% block content %}
            {% endblock content %}
        </main>
        {% include "base/_footer.html" %}
        {% include "base/_js_tags.html" %}
    </body>
</html>
