{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        {% block metas %}
            <!-- Primary Meta Tags -->
            <meta name="title" content="PasteMe - Paste Codes From Your Terminal"/>
            <meta name="description"
                  content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
            <!-- Open Graph / Facebook -->
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="https://pasteme.pythonanywhere.com/"/>
            <meta property="og:title"
                  content="PasteMe - Paste Codes From Your Terminal"/>
            <meta property="og:description"
                  content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
            <!-- Twitter -->
            <meta property="twitter:card" content="summary_large_image"/>
            <meta property="twitter:url" content="https://pasteme.pythonanywhere.com/"/>
            <meta property="twitter:title"
                  content="PasteMe - Paste Codes From Your Terminal"/>
            <meta property="twitter:description"
                  content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
        {% endblock metas %}
        {% compress js file jquery %}
            <script src="{% static 'js/jquery.min.js' %}"></script>
            <script src="{% static 'js/darkmode.js' %}"></script>
        {% endcompress %}
        {% include "base/_css_tags.html" %}
        {% block addon_style %}
        {% endblock addon_style %}
        <title>
            {% block title %}
                PasteMe Service
            {% endblock title %}
        </title>
    </head>
    <body class="dark:bg-[#0d0d0d] grid grid-rows-[auto_1fr_auto] leading-normal tracking-normal relative min-h-screen transition-colors duration-300">
        <div id="particles-js" class="absolute w-full h-full left-0 top-0 -z-10"></div>
        {% block header_msg %}
        {% endblock header_msg %}
        {% include "base/_navbar.html" %}
        <main class="transition-colors ease-in-out duration-300">
            {% block content %}
            {% endblock content %}
        </main>
        {% block footer_msg %}
        {% endblock footer_msg %}
        {% include "base/_footer.html" %}
        {% include "base/_js_tags.html" %}
        {% block addon_script %}
        {% endblock addon_script %}
    </body>
</html>
