{% load static %}
{% load compress %}
{% compress js %}
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/Incrementing-Animation.js' %}"></script>
    <script>
    AOS.init();

    particlesJS.load('particles-js', '/static/js/particles.json');

    html_el = document.getElementsByTagName('html')[0];
    if (!window.matchMedia('(prefers-color-scheme: dark)').matches) {
        html_el.classList.remove('dark');
    }

    $('.darkmode-switch').on("click", function () {
        $('html').toggleClass('dark');
    });

    $('#menu-toggle').on("click", function () {
        if ($('#menu').hasClass('z-10')) {
            $('#menu').removeClass('z-10');
            setTimeout(function () {
                $('#menu').toggleClass('top-[100%_!important]');
            }, 100);
        } else {
            $('#menu').toggleClass('top-[100%_!important]');
            setTimeout(function () {
                $('#menu').toggleClass('z-[10_!important]');
            }, 200);
        }
    });
    </script>
{% endcompress %}
{% block addon_script %}
{% endblock addon_script %}
