{% load static %}
{% load compress %}
{% load static tailwind_tags %}
<meta charset="utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
{% block metas %}
      <!-- Primary Meta Tags -->
      <meta name="title" content="PasteMe - Paste Codes From Your Terminal"/>
      <meta name="description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="https://pasteme.pythonanywhere.com/"/>
      <meta property="og:title"
            content="PasteMe - Paste Codes From Your Terminal"/>
      <meta property="og:description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image"/>
      <meta property="twitter:url" content="https://pasteme.pythonanywhere.com/"/>
      <meta property="twitter:title"
            content="PasteMe - Paste Codes From Your Terminal"/>
      <meta property="twitter:description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
{% endblock metas %}
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'img/fav32.png' %}"/>
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'img/fav16.png' %}"/>
{% compress css preload %}
      {% tailwind_preload_css %}
{% endcompress %}
{% compress css file styles %}
      {% tailwind_css %}
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="{% static 'css/fonts.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/Incrementing-Animation.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/Navbar-With-Button.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/Projects-Grid.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/aos.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/extra.css' %}"/>
{% endcompress %}
{% block addon_style %}
{% endblock addon_style %}
