code.phrase {
  color: rgb(250, 250, 250);
  background-color: rgb(31, 41, 55);
  padding: 1px 5px 3px 6px;
  border-radius: 5px;
  font-weight: bold;
}
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: right;
  color: #ccc;
  vertical-align: top;
  padding-right: 5px;
}
.hljs-ln-code {
  padding-left: 18px !important;
}
.hackathon {
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(62, 101, 194, 1) 0%,
    rgba(117, 88, 171, 1) 13%,
    rgba(178, 74, 141, 1) 25%,
    rgba(218, 73, 111, 1) 39%,
    rgba(248, 74, 94, 1) 53%,
    rgba(249, 79, 64, 1) 65%,
    rgba(246, 87, 38, 1) 76%,
    rgba(244, 147, 11, 1) 88%,
    rgba(240, 184, 5, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  position: relative;
  padding: 0 2px;
}
.glow:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
.glow:after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -2;
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    45deg,
    rgba(0, 221, 255, 1) 0%,
    rgba(0, 29, 255, 1) 21%,
    rgba(126, 0, 255, 1) 45%,
    rgba(255, 0, 209, 1) 73%,
    rgba(255, 0, 0, 1) 100%
  );
  /* W3C */
  filter: blur(5px);
  /* IE6-9 */
}

.darkmode-switch {
  display: inline-block;
  width: 45px;
  height: 25px;
  border-radius: 34px;
  position: relative;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.4s;
  background-color: #2196f3;
  background-image: radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%),
    radial-gradient(circle, #fefefe 20%, transparent 30%);
  background-size: 50% 50%, 60% 60%, 40% 40%, 40% 40%, 50% 50%, 40% 40%;
  background-position: 60% 82%, 80% 80%, 82% 80%, 110% 20%, 134% 12%, 130% 20%;
  background-repeat: no-repeat;
}
.darkmode-switch:before {
  content: "";
  bottom: 11.7647059%;
  height: 76.4705882%;
  width: 43.3333333%;
  left: 6.666666667%;
  position: absolute;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
  background-color: #ffeb3b;
  background-image: radial-gradient(circle, #ffc107 15%, #ffeb3b 100%);
  box-shadow: 0px 0px 20px 10px rgba(255, 235, 255, 0.4);
  transition: transform ease-in 0.2s;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.dark .darkmode-switch {
  background-color: #66bb6a;
  background-color: #023660;
  background-image: radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%),
    radial-gradient(circle, #fff 10%, transparent 30%);
  background-size: 8% 8%, 7% 7%, 6% 6%, 8% 8%, 8% 8%, 6% 6%, 6% 6%, 8% 8%, 7% 7%;
  background-position: 20% 20%, 45% 30%, 25% 55%, 20% 90%, 40% 60%, 5% 50%,
    58% 10%, 58% 60%, 50% 80%;
  background-repeat: no-repeat;
}
.dark .darkmode-switch:before {
  transform: translateX(100%);
  background-color: #ddd;
  background-image: radial-gradient(circle, #c4c4c4 50%, transparent 50%),
    radial-gradient(circle, #c9c9c9 50%, transparent 50%),
    radial-gradient(circle, #c9c9c9 50%, transparent 50%),
    radial-gradient(circle, #c9c9c9 50%, transparent 50%);
  background-size: 40% 40%, 25% 25%, 50% 50%, 30% 30%;
  background-position: 20% 20%, 65% 30%, 120% 100%, 20% 80%;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.2);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
