@font-face {
    font-family: "Manrope";
    src: local("Manrope Bold"), local("Manrope-Bold"),
        url("/static/css/fonts/Manrope-Bold.woff2") format("woff2"),
        url("/static/css/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Medium"), local("Manrope-Medium"),
        url("/static/css/fonts/Manrope-Medium.woff2") format("woff2"),
        url("/static/css/fonts/Manrope-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope Regular"), local("Manrope-Regular"),
        url("/static/css/fonts/Manrope-Regular.woff2") format("woff2"),
        url("/static/css/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: local("Manrope SemiBold"), local("Manrope-SemiBold"),
        url("/static/css/fonts/Manrope-SemiBold.woff2") format("woff2"),
        url("/static/css/fonts/Manrope-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
