@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/manrope/v13/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bw.ttf)
    format("truetype");
}

