@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Manrope/Manrope-regular.ttf) format("ttf");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Manrope/Manrope-medium.ttf) format("tff");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Manrope/Manrope-semibold.ttf) format("tff");
}
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Manrope/Manrope-bold.ttf) format("tff");
}
