<section class="container pt-12 pb-6 flex flex-col lg:flex-row gap-2 md:gap-4 lg:gap-8 text-black dark:text-white">
    <div class="flex flex-col flex-1 justify-center lg:pb-8">
        <div class="mb-4 text-center md:text-left">
            <h1 class="text-3xl md:text-5xl lg:text-4xl font-bold">
                <span class="text-pink-600">Modern Looking</span>
                <br/>
                <span class="text-4xl md:text-6xl lg:text-5xl">Pastebin service</span>
            </h1>
            <p class="text-lg text-neutral-800 dark:text-neutral-400 md:text-xl font-semibold mt-4 xl:mt-1">
                With theme selection & Automatic language detection!
            </p>
        </div>
        <p class="text-justify">
            PasteMe is an open-source pastebin service that works with the power of RESTful APIs. Install the
            <code class="phrase">pasteme-cli</code>
            package and start pasting right from your terminals and CLI shells.
        </p>
        <div class="w-full flex flex-row gap-3 glow mt-6 p-3 bg-neutral-100 dark:bg-[#0b0b0b] text-gray-900 dark:text-gray-100 rounded transition-colors duration-300">
            <code class="text-sky-700 select-none">$</code>
            <code class="select-all">
                pip install pasteme-cli
            </code>
        </div>
    </div>
    <div class="flex-1 my-auto">
        <script src="https://asciinema.org/a/510373.js" id="asciicast-510373" data-theme="asciinema" data-size="big" data-speed="3" data-rows="20"></script>
    </div>
</section>
