<section class="container pt-12 pb-6 flex flex-col md:flex-row gap-2 md:gap-4 lg:gap-8 text-white">
    <div class="flex flex-col flex-1 gap-3 items-center justify-center">
        <h1 class="text-2xl md:text-3xl leading-relaxed font-medium">
            Open-Source RESTful Pastebin Service
            <br class="sm:hidden"/>
            Featured for Hashnode
            <br class="sm:hidden"/>
            & PlanetScale!
        </h1>
        <p class="text-justify">
            PasteMe is an open-source pastebin service that works with the power of RESTful APIs. Install the
            <code class="phrase">pasteme-cli</code>
            package and start pasting right from your terminals and CLI shells.
        </p>
        <div class="w-full flex flex-row gap-3 glow mt-6 p-3 bg-white text-gray-900 rounded">
            <code class="text-sky-700 select-none">$</code>
            <code class="select-all">
                pip install pasteme-cli
            </code>
        </div>
    </div>
    <div class="flex-1 my-auto">
        <script src="https://asciinema.org/a/510373.js" id="asciicast-510373" data-theme="tango" data-size="big" data-speed="3" data-rows="20"></script>
    </div>
</section>
