<section class="container pt-12 pb-6 flex flex-col md:flex-row gap-2 md:gap-4 lg:gap-8 text-white">
    <div class="flex flex-col gap-3 items-center justify-center">
        <h1 class="w-full text-2xl md:text-3xl leading-relaxed font-medium">
            Open-Source RESTful Pastebin Service
            <br class="sm:hidden"/>
            Featured for Hashnode
            <br class="sm:hidden"/>
            & PlanetScale!
        </h1>
        <p class="text-justify">
            PasteMe is an open-source pastebin service that works with the power of RESTful APIs. Install the
            <code class="phrase">pasteme-cli</code>
            package and start pasting right from your terminals and CLI shells.
        </p>
        <div class="glow mt-6 w-full">
            <pre class="rounded bg-white py-3 px-4 text-gray-900"><code><span class="text-sky-700">$</span> pip install pasteme-cli</code></pre>
        </div>
    </div>
    <div class="w-full my-auto">
        <script src="https://asciinema.org/a/510373.js" id="asciicast-510373" data-theme="tango" data-size="big" data-speed="3" data-rows="20"></script>
    </div>
</section>
