{% load static %}
<section class="py-16 flex flex-col md:flex-row gap-4 md:gap-4 lg:gap-8 bg-white dark:bg-black text-black dark:text-white">
    <div class="w-full flex justify-center"
         data-aos="fade-up"
         data-aos-duration="400"
         data-aos-once="true">
        <h1 class="text-xl md:text-3xl lg:text-6xl text-center font-bold">Release Information</h1>
    </div>
    {% comment %} <div class="flex flex-col items-center justify-center" data-aos="fade-up" data-aos-duration="400" data-aos-once="true">
        <div class="px-2 lg:px-4"></div>
    </div> {% endcomment %}
</section>
