{% extends '_base.html' %}
{% load static %}
{% block title %}404 - Not Found{% endblock %}
{% block addon_style %}
    <link rel="stylesheet" href="{% static 'css/themes/default.min.css' %}">
{% endblock %}
{% block addon_script %}
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script>hljs.highlightAll();</script>
{% endblock %}
{% block content %}
    <section>
        <div class="container p-5">
            <div class="container">
                <h1>Opps! You're lost.</h1>
                <h3>Looks the page you're looking for is missing at the moment. I mean 404. :(</h3>
            </div>
        </div>
    </section>
{% endblock %}
