{% extends 'base/_base.html' %}
{% load static %}
{% block title %}
    500 - Some Failures Here
{% endblock title %}
{% block content %}
    <section class="container md:max-w-screen-md lg:max-w-screen-lg flex flex-col-reverse md:flex-row text-black dark:text-white"
             data-aos="fade-up"
             data-aos-duration="400"
             data-aos-once="true">
        <div class="my-auto grow-2">
            <h2 class="font-bold text-center md:text-left">
                <span class="block mb-2 text-4xl lg:text-5xl">Oh no!</span>
                <span class="block text-xl lg:text-3xl">There is Something Wrong with Servers</span>
            </h2>
            <p class="text-xs sm:text-sm md:text-base mt-8 flex flex-col sm:flex-row gap-2 sm:gap-1 items-center justify-center md:justify-start font-bold">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-7 w-7 sm:h-5 sm:w-5"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="text-center">You're all good. Our developers are trying to fix the issue.</span>
            </p>
            <div class="mt-6 flex flex-col md:flex-row gap-1">
                <button class="py-1.5 px-3 bg-black hover:bg-white text-white dark:text-black hover:text-black dark:bg-white dark:hover:bg-transparent dark:hover:text-white font-semibold border border-black dark:border-neutral-300 rounded transition-colors duration-300">
                    <a href="{% url 'home' %}">Contact Us</a>
                </button>
                <button class="py-1.5 px-3 bg-transparent hover:bg-black dark:hover:bg-white hover:text-white dark:hover:text-black font-semibold border border-black dark:border-neutral-300 rounded transition-colors duration-300">
                    <a href="{% url 'home' %}">Go back to home</a>
                </button>
            </div>
        </div>
        <div class="grow" align="center">
            <img src="{% static 'img/500.svg' %}" width="300" alt="500 Octocat"/>
        </div>
    </section>
{% endblock %}
{% block footer_msg %}
    <p class="p-4 text-center text-black dark:text-white bg-neutral-200 dark:bg-neutral-800 font-semibold text-sm transition-colors duration-300">
        If the problem persists, send us a message via the contact form  please.
    </p>
{% endblock footer_msg %}
