{% extends '_base.html' %}

{% block content %}
<figure>
    <blockquote class="blockquote">
      <p>PasteMe is an open-source RESTful pastebin service powered by <a href="https://planetscale.com" target="blank">PlanetScale</a> DBaaS.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Sadra Yahyapour <cite title="Source Title">Creator</cite>
    </figcaption>
</figure><br>

<h4>Hashnode & PlanetScale</h4>
<p>This project is developed for the <a href="https://townhall.hashnode.com/planetscale-hackathon" target="blank">July Hashnode Hackathon</a> which includes a partnership with the PlanetScale service.</p>
<p>Also read about the <a href="https://imsadra.me/pasteme-the-restful-pastebin" target="blank">"PasteMe; The RESTful Pastebin"</a> article which dives deeper through the development process.</p><br>

<h4>Installation</h4>
{% endblock %}