{% extends 'base/_base.html' %}
{% load static %}
{% block title %}{{ snippet.title }} ({{ snippet.get_language_display }}){% endblock %}
{% block metas %}
    <meta name="title"
          content="{{ snippet.title }} ({{ snippet.get_language_display }})">
    <meta name="description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% url 'view-paste' snippet.id %}">
    <meta property="og:title"
          content="{{ snippet.title }} ({{ snippet.get_language_display }})">
    <meta property="og:description" content="">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{% url 'view-paste' snippet.id %}">
    <meta property="twitter:title"
          content="{{ snippet.title }} ({{ snippet.get_language_display }})">
    <meta property="twitter:description" content="">
{% endblock %}
{% block addon_style %}
    <link rel="stylesheet"
          href="{% static 'css/themes/' %}{{ snippet.theme }}.min.css">
{% endblock %}
{% block addon_script %}
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script src="{% static 'js/highlightjs-line-numbers.min.js' %}"></script>
    <script>
        hljs.highlightAll();
        hljs.initLineNumbersOnLoad({
            singleLine: true
        });
    </script>
{% endblock %}
{% block content %}
    <section class="container py-10 md:py-14 lg:py-20 text-black dark:text-white overflow-x-scroll">
        <h3 class="text-2xl lg:text-3xl font-semibold">{{ snippet.title }}</h3>
        <ul class="mt-3 flex flex-wrap gap-1 text-xs md:text-sm select-none text-white dark:text-black">
            <li class="bg-black dark:bg-white py-0.5 px-2 rounded">
                <span>Created at {{ snippet.created_at.date }}</span>
            </li>
            <li class="bg-black dark:bg-white py-0.5 px-2 rounded">
                <span>Expires in {{ snippet.get_expires_in_display | lower }}</span>
            </li>
            <li class="bg-transparent py-0.5 px-2 border border-neutral-300 dark:border-neutral-700 text-black dark:text-white rounded">
                <span>{{ snippet.get_language_display }}</span>
            </li>
            <li class="bg-transparent py-0.5 px-2 border border-neutral-300 dark:border-neutral-700 text-black dark:text-white rounded">
                <span>{{ snippet.get_theme_display }} Theme</span>
            </li>
        </ul>
        <div class="mt-4">
            <pre class="grid"><code class="language-{{snippet.language}} rounded">{{snippet.body}}</code></pre>
        </div>
    </section>
{% endblock %}
