{% extends '_base.html' %}
{% load static %}

{% block title %}{{snippet.title}} ({{snippet.language}}){% endblock %}

{% block addon_style %}
<link rel="stylesheet" href="{% static 'css/themes/default.min.css' %}">
{% endblock %}

{% block addon_script %}
<script src="{% static 'js/highlight.min.js' %}"></script>
<script>hljs.highlightAll();</script>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h4 style="font-weight: bold;">{{snippet.title}}</h4>
        <p><span class="badge bg-dark">{{snippet.get_language_display}}</span>&nbsp;<span class="badge bg-dark">{{snippet.created_at.date}}</span></p>
        <div>
            <pre class="rounded"><code class="language-{{snippet.language}}">{{snippet.body}}</code></pre>
        </div>
    </div>
</section>
{% endblock %}