{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}PasteMe Service{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/Incrementing-Animation.css' %}">
    <link rel="stylesheet" href="{% static 'css/Navbar-With-Button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Projects-Grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block addon_style %}{% endblock %}
</head>

<body style="font-family: Manrope, sans-serif;">
    <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}"><span class="bs-icon-md d-flex justify-content-center align-items-center me-2 bs-icon"><img src="{% static 'img/icon.svg' %}" width="40"></span><span>PasteMe</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" style="border-style: none;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'schema-redoc' %}" target="blank">API Docs</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a href="https://github.com/collove/pasteme" target="blank"><span class="bs-icon-md d-flex justify-content-center align-items-center navbar-text me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-16 0 512 512" width="1em" height="1em" fill="currentColor">
                        <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"></path>
                    </svg></span></a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="text-center">
        <div class="container text-muted py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-secondary" href="{% url 'schema-redoc' %}" target="blank">API Documentation</a></li>
                <li class="list-inline-item me-4"><a class="link-secondary" href="https://github.com/collove/pasteme" target="blank">GitHub</a></li>
                <li class="list-inline-item"><a class="link-secondary" href="https://hashnode.com" target="blank">Hashnode</a></li>
                <li class="list-inline-item"><a class="link-secondary" href="https://planetscale.com" target="blank">PlanetScale</a></li>
            </ul>
            <p class="mb-0">Copyright © 2022 PasteMe</p>
        </div>
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{% static 'js/Incrementing-Animation.js' %}"></script>
    {% block addon_script %}{% endblock %}
</body>

</html>