{% load static %}
{% load static tailwind_tags %}
<meta charset="utf-8"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
{% block metas %}
      <!-- Primary Meta Tags -->
      <meta name="title" content="PasteMe - Paste Codes From Your Terminal"/>
      <meta name="description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="https://pasteme.pythonanywhere.com/"/>
      <meta property="og:title"
            content="PasteMe - Paste Codes From Your Terminal"/>
      <meta property="og:description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
      <!-- Twitter -->
      <meta property="twitter:card" content="summary_large_image"/>
      <meta property="twitter:url" content="https://pasteme.pythonanywhere.com/"/>
      <meta property="twitter:title"
            content="PasteMe - Paste Codes From Your Terminal"/>
      <meta property="twitter:description"
            content="PasteMe is an open-source pastebin service that works with the power of RESTful APIs."/>
{% endblock metas %}
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Manrope&amp;display=swap"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'img/fav32.png' %}"/>
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'img/fav16.png' %}"/>
{% tailwind_preload_css %}
{% tailwind_css %}
<link rel="stylesheet" href="{% static 'css/Incrementing-Animation.css' %}"/>
<link rel="stylesheet" href="{% static 'css/Navbar-With-Button.css' %}"/>
<link rel="stylesheet" href="{% static 'css/Projects-Grid.css' %}"/>
{% block addon_style %}
{% endblock addon_style %}
